<div class="profile">
  <body>
  <img class='brownBorder' src="{{image}}" alt="{{name}}">
  <br>
  <h1 class='brownBorder'>{{name}}</h1>
  <div>Drink: {{drink}}</div>
  <div>Sugar: {{sugar}}</div>
  <div>Milk: {{milk}}</div>
   <a class='brownBorder' href="../../edit/{{name}}">Edit</a>
   <a href="../../edit/{{id}}">Edit</a>
  </body>
</div>